
<div class="container">
  <div class="card">
    <div class="card-header">
      <h1 class="d-flex justify-content-center mt-2 " border="1px">Form User</h1>
    </div>
    <div class="card-body">
  <form [formGroup]="formGroup" id="list-item-1">

    <div class="row">
      <div class="col-md-6 col-12">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <span
          class="text-error"
          *ngIf="
          formGroup.controls['name'].hasError('required') &&
          formGroup.controls['name'].touched
        "
        >Vui lòng nhập name!</span
        >
      </div>
      <div class="col-md-6 col-12">
        <label  class="form-label">Email</label>
        <input
          type="email"
          formControlName="email"
          class="form-control"
        />
        <span
          class="text-error"
          *ngIf="
          formGroup.controls['email'].hasError('required') &&
          formGroup.controls['email'].touched
        "
        >Vui lòng nhập email!</span
        ><span
        class="text-error"
        *ngIf="
          formGroup.controls['email'].hasError('email') &&
          formGroup.controls['email'].touched
        "
      >Email không đúng định dạng!</span
      >
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-12">
        <label class="form-label">Age</label>
        <input
          type="number"
          formControlName="age"
          class="form-control"
          min="1"
        />
        <span
          class="text-error"
          *ngIf="
          formGroup.controls['age'].hasError('required') &&
          formGroup.controls['age'].touched
        "
        >Vui lòng nhập tuổi!</span
        >
      </div>
      <div class="col-md-4 col-12">
        <label class="form-label">Gender</label>
        <select class="form-control" formControlName="sex">
          <option [value]="1" selected>Nam</option>
          <option [value]="0">Nữ</option>
        </select>
      </div>
      <div class="col-md-4 col-12">
        <label class="form-label">Birthday</label>
        <input
          type="date"
          formControlName="birthday"
          class="form-control"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-12">
        <div class="form-group">
        <label class="mt-2" for="province">Province:</label>
        <select class="form-control mt-2" id="province" [(ngModel)]="user.province_id" formControlName="province" >
          <option value="0" selected disabled>Chọn Tỉnh/Thành phố</option>
          <option *ngFor="let province of Provinces" value="{{province.provinceId}}">{{province.name}}</option>
        </select>
          <span
            class="text-error"
            *ngIf="
          formGroup.controls['province'].hasError('required') &&
          formGroup.controls['province'].touched
        "
          >Vui lòng chọn thành phố/tỉnh !</span
          >
      </div>
        </div>
        <div class="col-md-4 col-12">
      <div class="form-group">
        <label class="mt-2" for="district">District:</label>
        <select class="form-control mt-2" id="district" [(ngModel)]="user.district_id" formControlName="district" >
          <option value="0" selected disabled>Chọn Quận/Huyện</option>
          <ng-container *ngFor="let district of Districts">
            <option *ngIf="district.provinceId == user.province_id" value="{{district.districtId}}">
              {{district.name}}</option>
          </ng-container>
        </select>
        <span
          class="text-error"
          *ngIf="
          formGroup.controls['district'].hasError('required') &&
          formGroup.controls['district'].touched
        "
        >Vui lòng chọn quận/huyện !</span>
      </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="form-group">
          <label class="mt-2">Wards</label>
          <select class="form-control mt-2" [(ngModel)]="user.wards_id" formControlName="wards">
            <option disabled selected>Chọn Xã/Phường</option>
            <ng-container *ngFor="let ward of Wards">
            <option *ngIf="ward.districtId == user.district_id" value="{{ward.wardId}}" >  {{ ward.name }}</option>
            </ng-container>
          </select>
          <span
            class="text-error"
            *ngIf="
          formGroup.controls['wards'].hasError('required') &&
          formGroup.controls['wards'].touched
        "
          >Vui lòng chọn phường/xã !</span>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Address</label>
      <textarea
        class="form-control"
        formControlName="address"
        id="floatingTextarea2Disabled"
        style="height: 100px"
      ></textarea>
      <span
        class="text-error"
        *ngIf="
          formGroup.controls['address'].hasError('required') &&
          formGroup.controls['address'].touched
        "
      >Vui lòng nhập địa chỉ!</span
      >
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-1">
        <button type="submit" (click)="AddOrUpdate()" class="btn btn-primary">
          Submit
        </button>
      </div>
      <div class="col-2">
        <button type="reset" class="btn btn-info">ClearForm</button>
      </div>
    </div>
  </form>
    </div>
  </div>
  <div class="row mt-3 mb-3 d-flex justify-content-start" id="list-item-2">
    <div class="col-1">
      <select class="form-control"[(ngModel)]="basicSelectedOption">
        <option value="2">2</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
      </select>
    </div>
    <div class="col-5">
      <input
        [(ngModel)]="searchName"
        (keydown.enter)="checkSearch()"
        class="form-control"
        placeholder="Search..."
      />
    </div>
  </div>
  <div class="table-responsive-md">
  <table class="table responsive" id="list-item-3">
    <thead class="table-color">
    <tr>
      <th (click)="sortId()">Id <i class="fa-solid fa-sort"></i></th>
      <th (click)="sortName()">Name <i class="fa-solid fa-sort"></i></th>
      <th (click)="sortEmail()">Email <i class="fa-solid fa-sort"></i></th>
      <th (click)="sortAge()">Age <i class="fa-solid fa-sort"></i></th>
      <th>Birthday</th>
      <th>Gender</th>
      <th>Address</th>
      <th>Address Detail</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody
      *ngFor="
        let u of user
          | paginate : { itemsPerPage: basicSelectedOption, currentPage: p }
      "
    >
    <tr>
      <td>{{ u.id }}</td>
      <td>{{ u.name }}</td>
      <td>{{ u.email }}</td>
      <td>{{ u.age }}</td>
      <td>{{ u.birthday | date: 'dd/MM/yyyy' }}</td>
      <td>{{ u.sex ? "Nam" : "Nữ" }}</td>
      <td>{{ u.province.name }} , {{u.district.name}}, {{u.wards.name}}</td>
      <td>{{ u.address }}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteUser(u.id)">
          <i class="fa-solid fa-trash"></i>
        </button>
        |
        <button class="btn btn-warning" (click)="editUser(u)">
          <i class="fa-sharp fa-solid fa-pen-to-square"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  </div>
  <pagination-controls
    class="my-pagination d-flex justify-content-end"
    (pageChange)="p = $event"
  ></pagination-controls>
</div>
