<div class="container">
  <form [formGroup]="formGroup" id="list-item-1">
    <div class="row">
      <div class="col-md-6 col-12">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <span
          class="text-error"
          *ngIf="
          formGroup.controls['name'].hasError('required') &&
          formGroup.controls['name'].touched
        "
        >Vui lòng nhập name!</span
        >
      </div>
      <div class="col-md-6 col-12">
        <label for="exampleInputPassword1" class="form-label">Email</label>
        <input
          type="email"
          formControlName="email"
          class="form-control"
          id="exampleInputPassword1"
        />
        <span
          class="text-error"
          *ngIf="
          formGroup.controls['email'].hasError('required') &&
          formGroup.controls['email'].touched
        "
        >Vui lòng nhập email!</span
        ><span
        class="text-error"
        *ngIf="
          formGroup.controls['email'].hasError('email') &&
          formGroup.controls['email'].touched
        "
      >Email không đúng định dạng!</span
      >
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-12">
        <label for="exampleInputPassword1" class="form-label">Age</label>
        <input
          type="number"
          formControlName="age"
          class="form-control"
          id="exampleInputPassword1"
        />
        <span
          class="text-error"
          *ngIf="
          formGroup.controls['age'].hasError('required') &&
          formGroup.controls['age'].touched
        "
        >Vui lòng nhập tuổi!</span
        >
      </div>
      <div class="col-md-4 col-12">
        <label for="exampleInputPassword1" class="form-label">Gender</label>
        <select class="form-control" formControlName="sex">
          <option [value]="1" selected>Nam</option>
          <option [value]="0">Nữ</option>
        </select>
      </div>
      <div class="col-md-4 col-12">
        <label for="exampleInputPassword1" class="form-label">Birthday</label>
        <input
          type="date"
          formControlName="birthday"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-12">
        <div class="form-group">
          <label  class="mt-2">City</label>
          <select class="form-control mt-2" (ngModelChange)="getProvince()" >
            <option disabled selected >Chọn Tỉnh/Thành phố</option>
            <option *ngFor="let data of city" value="{{data.id}}">  {{ data.name }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="form-group">
          <label class="mt-2">District</label>
          <select class="form-control mt-2" >
            <option selected disabled > Chọn Quận/Huyện</option>
            <ng-container *ngFor="let district of district">
              <option >  {{ district.name }}</option>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="form-group">
          <label class="mt-2">Wards</label>
          <select class="form-control mt-2">
            <option disabled selected>Chọn Xã/Phường</option>
            <option *ngFor="let ward of wards">  {{ ward.name }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Address</label>
      <textarea
        class="form-control"
        formControlName="address"
        id="floatingTextarea2Disabled"
        style="height: 100px"
      ></textarea>
      <span
        class="text-error"
        *ngIf="
          formGroup.controls['address'].hasError('required') &&
          formGroup.controls['address'].touched
        "
      >Vui lòng nhập địa chỉ!</span
      >
    </div>

    <div class="row">
      <div class="col-1">
        <button type="submit" (click)="AddOrUpdate()" class="btn btn-primary">
          Submit
        </button>
      </div>
      <div class="col-3 mr-2">
        <button type="reset" class="btn btn-info">ClearForm</button>
      </div>
    </div>
  </form>
  <div class="row mt-3 mb-3 d-flex justify-content-start" id="list-item-2">
    <div class="col-1">
      <select class="form-control"[(ngModel)]="basicSelectedOption">
        <option value="2">2</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
      </select>
    </div>
    <div class="col-5">
      <input
        [(ngModel)]="searchName"
        (keydown.enter)="checkSearch()"
        class="form-control"
        placeholder="Search..."
      />
    </div>
  </div>
  <table class="table" id="list-item-3">
    <thead class="table table-secondary table-hover">
    <tr>
      <th (click)="sortId()">Id</th>
      <th (click)="sortName()">Name</th>
      <th>Email</th>
      <th (click)="sortAge()">Age</th>
      <th>Birthday</th>
      <th>Address</th>
      <th>Gender</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody
      *ngFor="
        let u of user
          | paginate : { itemsPerPage: basicSelectedOption, currentPage: p }
      "
    >
    <tr>
      <td>{{ u.id }}</td>
      <td>{{ u.name }}</td>
      <td>{{ u.email }}</td>
      <td>{{ u.age }}</td>
      <td>{{ u.birthday | date: 'dd/MM/yyyy' }}</td>
      <td>{{ u.address }}</td>
      <td>{{ u.sex ? "Nam" : "Nữ" }}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteUser(u.id)">
          <i class="fa-solid fa-trash"></i>
        </button>
        |
        <button class="btn btn-warning" (click)="editUser(u)">
          <i class="fa-sharp fa-solid fa-pen-to-square"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls
    class="d-flex justify-content-end"
    (pageChange)="p = $event"
  ></pagination-controls>
</div>
